.flex-container{
    width: 500px;
    background-color: cadetblue;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.flex-item{
    font-family: cursive;
    font-size: 55px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: burlywood;
    margin: 5px;
    border-radius: 6px;
}

.cont1{
    flex-direction: row;
}

.cont2{
    flex-direction: row-reverse;
}

.cont3{
    flex-direction: column;
}

.cont4{
    flex-direction: column-reverse;
}